/* reset paddings and margins for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(145deg, #00f7ff, #008cff);
}
#app {
  height: 100vh;
  color: #3b4a6b;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
.holder {
  width: 80%;
  max-width: 600px;
  margin: 2rem auto 0;
}
.holder h1.headline {
  background: #00a2ff;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem 3rem 0 0;
  width: 60%;
  margin: 0 auto;
  cursor: default;
  font-size: 36px;
  border: 3px solid #3b4a6b;
  position: relative;
  z-index: 1;
}
.holder .holder-content {
  border-radius: 3rem 3rem 0 0;
  border: 3px solid #3b4a6b;
  overflow: hidden;
  padding: 1rem;
  padding-top: 2.5rem;
  position: relative;
  margin-top: -3px;
}
.zip {
  margin: 0 auto;
  width: max-content;
}
.zip #zip,
.feel textarea {
  background-color: transparent;
  border: 3px solid #3b4a6b;
  border-radius: 1.5rem 1.5rem 0 0;
  color: #008cff;
  padding: 0.5rem 1rem;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  background: rgba(59, 74, 107, 0.1);
  max-width: 100%;
}
.feel textarea {
  min-width: 100%;
  margin-top: -3px;
}
/*  #generate Button styles */
.submit-btn button {
  padding: 0.5rem 2rem;
  background: #3b4a6b;
  color: #00a2ff;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 0 0 5px 2px #00a2ff;
  display: block;
  margin: 0 auto;
  border-radius: 0 0 1.5rem 1.5rem;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
  top: -3px;
  z-index: 1;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* make wrtie color more visible */
:focus {
  color: #141924 !important;
}
:focus::placeholder {
  opacity: 0;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #008cff;
  font-family: 'Oswald', sans-serif;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #008cff;
  font-family: 'Oswald', sans-serif;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #008cff;
  font-family: 'Oswald', sans-serif;
}
.entry {
  background: rgba(59, 74, 107, 0.4);
  margin-top: 1rem;
  height: 210px;
}
.entry .title {
  text-align: center;
  position: relative;
}
.entry .title::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 3px;
  background-color: #3b4a6b;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}
#entryHolder {
  padding: 1rem;
}
/* 
#date {
}
#temp {
}
#content {
}
.title {
} */
/* error showing note that .holder is relative */
#error {
  position: absolute;
  background: rgba(255, 0, 119, 0.733);
  color: #fff;
  padding: 2px 10px 5px;
  min-width: max-content;
  top: -2.3rem;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  z-index: -1;
  transition: top 0.4s ease-in-out;
}
